@{
    ViewData["Title"] = "Confirmação para Apagar o Contato";
}



<div class="text-center">

    <h3>Deseja Apagar o Contato *******</h3>

</div>

<br />

<div class="d-flex gap-2">
    <a class="btn btn-secondary w-100" role="button">Cancelar</a>
    <a class="btn btn-primary w-100 btn-danger" role="button">EXCLUIR</a>
</div>
